{
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 80,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": ["^\\.(\\.|/){1,}types/", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
